<style>
  table {
    border-collapse: separate;
    border-spacing: 50px 0;
  }

  td {
    padding: 10px 0;
  }
</style>
<section>
  <h2>Rest Api Output</h2>
  <table align="center">
    <thead>
      <tr>
        <th>id</th>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th>precio</th>
        <th>imagenUrl</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of Items">
        <td>{{item.id}}</td>
        <td>{{item.nombre}}</td>
        <td>{{item.descripcion}}</td>
        <td>{{item.precio}}</td>
        <td>{{item.imagenUrl}}</td>
      </tr>
    </tbody>
  </table>
</section>